
Simple Logger/obj

Simple Logger/bin
.vs/Simple Logger/v15/.suo
.vs/Simple Logger/v15/Server/sqlite3/db.lock
.vs/Simple Logger/v15/Server/sqlite3/storage.ide
.vs/Simple Logger/v15/Server/sqlite3/storage.ide-shm
.vs/Simple Logger/v15/Server/sqlite3/storage.ide-wal
